.audio-player {
  margin: 60px;
}

.landing-page {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-height: 900px;
  transition: max-height 5s ease-in-out;
}

.landing-page-below-fold {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hidden {
  max-height: 0;
}