body {
   background-color: #dddddd;
}

nav {
   border-bottom: 1px solid black;
   background-color: white;
}

@keyframes logo-animation {
   0% {
      width: 100px;
      margin-left: 10px;
   }
   10% {
      width: 120px;
      margin-left: 0;
   }
   20% {
      width: 100px;
      margin-left: 10px;
   }
}
