.clue-container {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: blue;
    overflow: hidden;
    margin: 30px;
    flex: 0 0 auto;
}

.wrapper {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
}


.container-background {
    position: absolute;
    width: 100%;
}

.container-foreground {
    margin: 20px;
    width: 260px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 31;
    background-color: white;
}
body {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}
